<%- include('header'); -%>
<br><br>
<link rel="stylesheet" href="../stylesheets/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet"> 
<div id="reg">
<form method="post">
    <table>
        <tr>
            <td>Product Name : </td>
            <td>
                <input type="text" placeholder="Enter Product Name" name="p_name" required> </td>
        </tr>
        <tr>
            <td>Product Price :</td>
            <td>
                <input type="number" placeholder="Enter Product Price" name="p_price" required>
            </td>
        </tr>
        <tr>
            <td>Product Desc:</td>
            <td>
                <input type="text" placeholder="Enter Product Description" name="p_desc" required>
            </td>
        </tr>
        <tr>
            <td>
                <center>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input type="submit" value="Insert"></center>
            </td>
        </tr>
    </table>
</form>
</div>